html,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  body, h3,#realtime, .center{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body{
    padding: 0 10px;
    min-height: 100vh;
    background: #4A98F7;
  }
  .center{
    width: 400px;
    padding: 30px 30px 38px;
    background: #fff;
    border-radius: 10px;
    flex-direction: column;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  }
.title {
    background: rgba(100, 199, 218, 0.8);
    padding: 1.2em;
}

 

.alarmtimebody {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family:cursive;
    padding: 2em 2em 0 2em;
    
   
}

#setButton {
    background: rgba(0, 255, 0, 0.767);
    border: none;
    font-size: 1rem;
    padding: 0.4em 1em;
    border-radius: 10px;
    box-shadow: 2px 3px rgba(0, 0, 0, 0.2);
    margin: 2em 2em 0 2em;
}

#setClear {
    background: #ff7200;
    border: none;
    font-size: 1rem;
    padding: 0.4em 1em;
    border-radius: 10px;
    box-shadow: 2px 3px rgba(0, 0, 0, 0.2);
    margin: 2em 2em 0 2em;
}

.time {
    
    padding: 0.4em 1em;
    background: #ff7200;
    border-color: rgba(247, 7, 7, 0);
    border-radius: 2px;
}

.allalarms {
    padding-top: 2em;
}


button.delete {
    background: hwb(9 0% 0%);
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    padding: 0.4em 1em;
    border-radius: 100px;
   
    margin: 0.3em;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

label {
    letter-spacing: 0.1em;
    background: rgb(253, 253, 253);
  
    border-radius: 5px;
}


    
 
       
